<section class="menu-navigation__wrapper page-width" id="section-{{ section.id }}" {{ section.shopify_attributes }}>
  <div class="menu-navigation container--large">
    {% if section.settings.link_label != blank and section.settings.link_url != blank %}
      <a class="menu-navigation__link" href="{{ section.settings.link_url }}">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
        </svg>
        {{ section.settings.link_label | escape }}
      </a>
    {% endif %}
  </div>
</section>

{% stylesheet %}
  .menu-navigation__wrapper {
    border-bottom: 2px solid var(--color-borders-header);
  }

  .menu-navigation {
    position: relative;
    z-index: 999;
    line-height: 1;
  }

  .menu-navigation__link {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 12px 16px;
    gap: 8px;
    font-size: 12px;
    font-weight: 500;
  }

  .menu-navigation__link svg {
    width: 16px;
    height: 16px;
  }
{% endstylesheet %}

{% schema %}
  {
    "name": "Menu Navigation",
    "settings": [
      {
        "type": "text",
        "id": "link_label",
        "label": "Link Label",
        "default": "Back to menu"
      },
      {
        "type": "url",
        "id": "link_url",
        "label": "Link URL"
      }
    ],
    "presets": [
      { 
        "name": "Menu Navigation" 
      }
    ],
    "enabled_on": {
      "templates": ["collection", "product", "page"]
    }
  }
{% endschema %}